.server-connection {
  background-color: var(--color-light-background);
  padding: 16px;
  border-radius: 15px;

  .servers {
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 830px;
    overflow: auto;
    margin: auto;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    .connector {
      height: 5px;
    }

    .branch-connector {
      height: 104px;
    }
  }

  .server-status {
    display: flex;
    align-items: center;
    margin-top: 16px;
    column-gap: 18px;

    &-item {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-right: 16px;

      img {
        width: 25px;
        height: 25px;
      }
    }

    .status {
      font-weight: 700;
      font-size: 15px;
      line-height: 38px;
      letter-spacing: 0px;
      margin: 0px;

      &.failed {
        color: var(--color-red-800);
      }

      &.pending {
        color: #FF9500;
      }

      &.success {
        color: var(--color-green-800);
      }
    }
  }

  .branch-connector-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
