<div class="popover-card">
  <p class="ip-name font-ibx-mono">Lorem Ipsum Dolor Sit</p>
  <div class="ips">
    <div class="ip-container">
      <p class="ip font-ibx-mono">1.2.3.4</p>
      <p class="ip font-ibx-mono">1.2.3.4</p>
      <p class="ip font-ibx-mono">1.2.3.4</p>
    </div>
    <div class="ip-container">
      <p class="ip font-ibx-mono">1.2.3.4</p>
      <p class="ip font-ibx-mono">1.2.3.4</p>
      <p class="ip font-ibx-mono">1.2.3.4</p>
    </div>
  </div>
  <p class="dormant-ip font-ibx-mono">Lorem: 1.2.3.4</p>
</div>
