.popover-card {
  padding: 16px;
  border-radius: 20px;
  background: var(--color-white);
  box-shadow: var(--box-shadow-popover);
  min-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    padding: 4px 2px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  .ip-name {
    width: fit-content;
    background: var(--color-red-200);
    color: var(--color-red-800);
  }

  .ips {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .ip-container {
      display: flex;
      gap: 4px;
      justify-content: flex-end;

      .ip {
        background: var(--color-red-200);
        color: var(--color-red-800);
        min-width: 106px;
      }
    }
  }

  .dormant-ip {
    width: fit-content;
    background: var(--color-purple-100);
    color: var(--color-purple-700);
  }
}
