.popover-card {
  padding: 16px;
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: var(--box-shadow-popover);
  min-width: 372px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  .server-info {
    display: flex;
    align-items: center;
    gap: 12px;

    .server-icon {
      height: 52.92px;
      width: 52.92px;
    }

    .server-name {
      font-weight: 600;
      font-size: 13px;
      color: var(--color-gray-800);
      margin: 0px;
    }
  }

  .ip-info {
    display: flex;
    align-items: center;
    gap: 8px;

    .address {
      font-weight: 700;
      font-size: 15px !important;
      color: var(--color-gray-800);
      margin: 0px;
    }

    .dormant-ip {
      width: fit-content;
      background: var(--color-purple-100);
      color: var(--color-purple-700);
      padding: 4px 6px;
      border-radius: 6px;
    }
  }
}
