<div class="popover-card">
  <div class="server-info">
    <img [src]="connection?.image" [alt]="connection?.imageAlt" class="server-icon" />
    <p class="server-name">{{connection?.name}}</p>
  </div>

  <div class="ip-info">
    <img src="assets/svgs/receipt-text.svg" alt="receipt-text" />
    <p class="address">Lorem: Loremipsum Loremipsum</p>
    <p class="dormant-ip">1.2.3.4</p>
  </div>

  <div class="ip-info">
    <p class="dormant-ip">1.2.3.4</p>
    <p class="address">Loremipsum</p>
    <p class="dormant-ip">1.2.3.4</p>
    <p class="dormant-ip">1.2.3.4</p>
  </div>
</div>
