.popover-card {
  padding: 16px;
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: var(--box-shadow-popover);
  min-width: 255px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 999;

  p {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  .server-info {
    display: flex;
    align-items: center;
    gap: 12px;

    .server-icon {
      height: 52.92px;
      width: 52.92px;
    }

    .server-details {
      .server-name {
        font-weight: 600;
        font-size: 13px;
        color: var(--color-gray-800);
        margin: 0px;
      }

      .ip-address {
        font-weight: 500;
        font-size: 9.45px;
        margin: 0px;
        color: var(--color-gray-700);
      }
    }

  }

  .ip-info {
    display: flex;
    align-items: center;
    gap: 8px;

    .address {
      font-weight: 700;
      font-size: 15px !important;
      color: var(--color-gray-800);
      margin: 0px;
    }

    .loading-ip {
      width: fit-content;
      background: var(--color-yellow-100);
      color: var(--color-yellow-700);
      padding: 4px 6px;
      border-radius: 6px;
    }

    .ip-location {
      width: fit-content;
      background: var(--color-blue-100);
      color: var(--color-blue-700);
      padding: 4px 6px;
      border-radius: 6px;
    }
  }
}
