<div class="popover-card">
  <div class="server-info">
    <img [src]="connection?.image" [alt]="connection?.imageAlt" class="server-icon" />
    <div class="server-details">
      <p class="server-name">{{connection?.name}}</p>
      <p class="ip-address">{{connection?.ip}}</p>
    </div>
  </div>

  <div class="ip-info">
    <img src="assets/svgs/receipt-text.svg" alt="receipt-text" />
    <p class="address">Lorem:</p>
    <p class="loading-ip font-ibx-mono">Lorem “ipsum"</p>
  </div>

  <div class="ip-info">
    <p class="address">Loremipsum</p>
    <p class="ip-location font-ibx-mono">lorem 1234,5678</p>
  </div>
</div>
